.super-mario {
    width: 200px;
    float: none;
  }
  
  .goomba {
    width: 150px;
    float: left;
    position: absolute;
    top:375px; left: 20px;
  }
  
  .baloon {
    width: 180px;
    position: absolute;
    top:140px; left: 560px;
  }
  
  .speach {
    font-size: 14px;
    position: absolute;
    top:165px; left: 580px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top:265px; left: 670px;
  }