* {
  border: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

button {
  padding: 12px;
  border-radius: 5px;
  font-size: 22px;
}